<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Alessandro Sellitto",
  "jobTitle": "PhD Candidate in Economics",
  "affiliation": "University of Milan and University of Pavia",
  "url": "https://alessandrosellitto.github.io/",
  "image": "{{ "picture.jpeg" | absURL }}",
  "sameAs": [
    "https://www.linkedin.com/in/alessandrosellitto",
    "https://scholar.google.com/citations?user=L6EWq5IAAAAJ",
    "https://orcid.org/0009-0004-9534-2886"
  ]
}
</script>
